.topHeading {
  width: 80%;
  left: 10%;
  position: relative;
}

.graphStyle {
  height: 100%;
  background-color: white;

  opacity: 1;
}

.pageStyle {
  height: 80%;
}

.slider {
  margin: 5px 0;
}

.loading {
  color: white;
  padding-top: 50px;
}
