<div class="pageStyle" *ngIf="isMedium; else notShow">
  <div echarts [options]="chartOption" class="graphStyle" (chartClick)="onChartClick($event)"></div>
</div>
<ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
  <p class="loading">Loading ...</p>
</ngx-spinner>
<ng-template #notShow>
  <p style="position: absolute; font-weight: bold; left: 20%">
    You do not have access to this module. <br />
    Please contact Ornico Customer Support if you require access.
  </p>
</ng-template>
