.portaldashboard {
  width: 100%;
}

.topLeft {
  position: relative;
  margin: 0 2% 1% 0;
  width: 48%;
  height: 45%;
  float: left;
}

.topRight {
  position: relative;
  margin: 0 1% 1% 0;
  width: 48%;
  height: 45%;
  float: left;
}

.bottomLeft {
  position: relative;
  margin: 0 2% 1% 0;
  width: 48%;
  height: 45%;
  float: left;
}

.bottomRight {
  position: relative;
  margin: 0 2% 1% 0;
  width: 48%;
  height: 45%;
  float: left;
}

.dashButton {
  position: absolute;
  z-index: 9;
}

.ave {
  position: absolute;
  width: 14%;
  height: 17%;
  font-size: 100%;
  text-align: center;
  color: #fff;
  text-align: center;
  background: rgb(65 65 65 / 80%);
  left: 42%;
  top: 40%;
  z-index: 9;
  border-radius: 67%;
}
