<div class="slider">
  <nz-row>
    <div nz-col nzSpan="12" *ngIf="!isHidden">
      <b> Sources to show:</b>
      <nz-input-number
        [nzMin]="1"
        [nzMax]="recordCount"
        [ngStyle]="{ marginLeft: '16px' }"
        [(ngModel)]="initialValue"
        (ngModelChange)="onChangeSlider($event)"
      ></nz-input-number>
      <b> (Maximum: {{ recordCount }})</b>
    </div>
  </nz-row>
</div>
<div echarts [options]="chartOption" class="graphStyle" (chartClick)="onChartClick($event)"></div>
<div>
  <nz-modal
    [nzStyle]="{ top: '15px', width: '90%' }"
    [(nzVisible)]="isVisibleTop"
    (nzOnCancel)="handleCancelTop()"
    (nzOnOk)="handleOkTop()"
  >
    <app-datachart itemField="source" itemCategory="none"></app-datachart>
  </nz-modal>
</div>
<ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
  <p class="loading">Loading ...</p>
</ngx-spinner>
