.pageStyle {
  height: 100%;
}

.example-error {
  box-sizing: border-box;
  position: absolute;
  top: 150px;
  left: 300px;
  width: 50%;
  height: 30px;
  background-color: #dc3a3a;
  color: white;
  transition: top 0.2s;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  z-index: 99;
}

.example-error.inactive {
  top: -30px;
}

.ag-theme-alpine {
  height: 500px !important;
}