<a clrVerticalNavLink routerLinkActive="active" routerLink="./volume" data-toggle="tooltip" title="Volume">
  <clr-icon shape="bar-chart" clrVerticalNavIcon></clr-icon>
  VOLUME
</a>
<a clrVerticalNavLink routerLinkActive="active" routerLink="./mediatype" data-toggle="tooltip" title="Media Type">
  <clr-icon shape="atom" clrVerticalNavIcon></clr-icon>
  MEDIA TYPE
</a>
<a clrVerticalNavLink routerLinkActive="active" routerLink="./source" data-toggle="tooltip" title="Source">
  <clr-icon shape="ellipsis-horizontal" clrVerticalNavIcon></clr-icon>
  SOURCE
</a>
<a clrVerticalNavLink routerLinkActive="active" routerLink="./region" data-toggle="tooltip" title="Region">
  <clr-icon shape="map-marker" clrVerticalNavIcon></clr-icon>
  REGION
</a>
<a clrVerticalNavLink routerLinkActive="active" routerLink="./category" data-toggle="tooltip" title="Category Share">
  <clr-icon shape="list" clrVerticalNavIcon></clr-icon>
  CATEGORY SHARE
</a>
<a clrVerticalNavLink routerLinkActive="active" routerLink="./language" data-toggle="tooltip" title="Language">
  <clr-icon shape="chat-bubble" clrVerticalNavIcon></clr-icon>
  LANGUAGE
</a>
<a clrVerticalNavLink routerLinkActive="active" routerLink="./lsmsem" data-toggle="tooltip" title="LSM / SEM">
  <clr-icon shape="users" clrVerticalNavIcon></clr-icon>
  LSM / SEM
</a>
<a clrVerticalNavLink routerLinkActive="active" routerLink="./ratecard" data-toggle="tooltip" title="Rate Card">
  <clr-icon shape="clipboard" clrVerticalNavIcon></clr-icon>
  RATE CARD
</a>

<a clrVerticalNavLink routerLinkActive="active" routerLink="./brand" data-toggle="tooltip" title="Brand">
  <clr-icon shape="shield" clrVerticalNavIcon></clr-icon>
  BRAND
</a>
<a clrVerticalNavLink routerLinkActive="active" routerLink="./adverttype" data-toggle="tooltip" title="Advert Type">
  <clr-icon shape="color-palette" clrVerticalNavIcon></clr-icon>
  ADVERT TYPE
</a>

<a clrVerticalNavLink routerLinkActive="active" routerLink="./data" data-toggle="tooltip" title="Data">
  <clr-icon shape="justify-text" clrVerticalNavIcon></clr-icon>
  DATA
</a>
<a clrVerticalNavLink routerLinkActive="active" routerLink="./sandbox" data-toggle="tooltip" title="Sandbox">
  <clr-icon shape="inbox" clrVerticalNavIcon></clr-icon>
  SANDBOX <span class="badge badge-danger">{{ sandcount }}</span>
</a>
<div *ngIf="isMedium">
  <a clrVerticalNavLink routerLinkActive="active" routerLink="./sentiment" data-toggle="tooltip" title="Sentiment">
    <clr-icon shape="happy-face" clrVerticalNavIcon></clr-icon>
    SENTIMENT
  </a>
  <!-- <a
  clrVerticalNavLink
  routerLinkActive="active"
  routerLink="./spokespersons"
  data-toggle="tooltip"
  title="Spokespersons"
>
  <clr-icon shape="microphone" clrVerticalNavIcon></clr-icon>
  SPOKESPERSONS
</a>
<a
  clrVerticalNavLink
  routerLinkActive="active"
  routerLink="./reputational"
  data-toggle="tooltip"
  title="Reputational Pillars"
>
  <clr-icon shape="talk-bubbles" clrVerticalNavIcon></clr-icon>
  REPUTATIONAL PILLARS
</a> -->
  <a clrVerticalNavLink routerLinkActive="active" routerLink="./authors" data-toggle="tooltip" title="Authors">
    <clr-icon shape="pencil" clrVerticalNavIcon></clr-icon>
    TOP AUTHORS
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="./words" data-toggle="tooltip" title="Word Cloud">
    <clr-icon shape="cloud" clrVerticalNavIcon></clr-icon>
    WORD CLOUD
  </a>
</div>
<hr />
<hr />
<a clrVerticalNavLink routerLinkActive="active" routerLink="./dashboard" data-toggle="tooltip" title="Dashboard">
  <clr-icon shape="dashboard" clrVerticalNavIcon></clr-icon>
  DASHBOARD
</a>
